*{
	box-sizing: border-box;
}

body{
	min-width: 250px;
	margin: 0px;
}

#popupWindow{

}

#appImage{
	width: 50px;
	height: 35px;
}

#title{
	display: inline-block;
}

button{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 45%;
}

#subcontainer-1{
	display: block;
}

#subcontainer-2{
	display: block;
}

#subcontainer-3{
	display: block;
	padding-bottom: 5px;
	margin-left: 25px;
}

#subcontainer-4{
	display: block;
}

button#enable-btn{
	margin-top: 10px;
}

button#disable-btn{
	display: inline-block;
}

#reset-btn{
	width: 80%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

hr{
	width: 90%;
}

span#currentThrehold{
	position: absolute;
	left: 25px;
}

i.fa{
	color: green;
}

i.material-icons{
	color: red;
}

i#refresh{
	display: inline-block;
	color: black;
}